/* * {
  border: solid 2px #ffffff;
} */

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

.jumbotron {
  margin-top: 2rem;
  background-color: rgba(247, 247, 247, .80);
}

.row {
  padding-left: 15px;
  padding-right: 15px;
}

button {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
}

.orderDetails {
  display: none;
}

#orderConfirmation {
  display: none;
  text-align: center;
  margin-top: 60px;
}