body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

.jumbotron {
  margin-top: 20px;
  background-color: rgba(247, 247, 247, .75);
}

.orderDetails {
  display: none;
}