body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

.jumbotron {
  margin-top: 2rem;
  background-color: rgba(247, 247, 247, .80);
}

.heading {
  text-align: center;
  padding-bottom: 16px;
}

#address {
  margin-top: 30px;
}

.row {
  padding-left: 15px;
  padding-right: 15px;
}

button {
  position: absolute;
  bottom: 15px;
}

.buildYourPie {
  padding-bottom: 60px;
}

.orderDetails {
  display: none;
  padding-bottom: 100px;
}

#totalLine {
  position: absolute;
  bottom: 70px;
}

#orderToppingsHeader {
  margin-bottom: 0px;
}

#orderSpinner {
  display: none;
  margin-top: 60px;
  margin-bottom: 60px;
}

#orderConfirmation {
  display: none;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
}